// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #59D88B;
$gray: #0E0000;
$light-gray: #F4F4F4;

// ********* No Balls - Just Bitches *********
// ********* Colors *********

$primary-color: #D859A5;
$sub-color: #59A5D8;
$secondary-color: #A5D859;
$secondary-color--light: #D8CB59;
$secondary-color--dark: #5966D8;
$bg-light: #F9F8F1;
$white: white;

