// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Raleway:700,900");
@import url("https: //fonts.googleapis.com/css?family=Space Grotesk:400,500");

// Define fonts for body and headers
$body-font: "Space Grotesk", "Arial Black", "sans-serif";
$headers-font: "1up", "1up", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

$primary-font: "1up", "Arial Black", "sans-serif"; // 300, 400
$secondary-font: "Space Grotesk", "Arial Black", "sans-serif"; // 300, 400, 600
$font-weigh--light: 400;
$font-weigh--normal: 500;
$font-weigh--bold: 700;
$font-weigh--extra: 900;
$font-size-16: 16px; //M
$font-size-24: 24px; //L
$font-size-36: 36px; //XL
$font-size-48: 48px; //XXL
$font-size-64: 64px; //XXL
$font-color: #181316;


.font-alpha {
  position: relative;
  font-family: $primary-font;
  font-size: $font-size-64;
  color: $font-color;
}

.font-beta {
  position: relative;
  font-family: $primary-font;
  font-size: $font-size-48;
  font-weight: $font-weigh--extra;
  text-transform: uppercase;
  color: $font-color;
}

.font-delta {
  position: relative;
  font-family: $primary-font;
  font-size: $font-size-36;
  font-weight: $font-weigh--bold;
  color: $font-color;
  margin-top: .5rem;
  margin-bottom: 1rem;
  width: fit-content;
  z-index: 2;
}

.font-gamma {
  font-family: $primary-font;
  font-size: $font-size-24;
  font-weight: $font-weigh--bold;
  color: $font-color;
  margin-top: .5rem;
  margin-bottom: .7rem;
  position: relative;
  width: fit-content;
  z-index: 2;
}
