// app/assets/stylesheets/dashboard/index_dashboard.scss

// DASHBOARD CONTAINER
.container-dashboard {
  background-color: $white;
  margin: 40px;
}

// DASHBOARD CARDS
.dashboard-card {
  margin: 20px !important;
}

// // SORTABLE CARDS
#results .card-dashboard {
  cursor: grab;
}

#results .card-dashboard:active {
  cursor: grabbing;
}

#results .card-dashboard.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}