// app/assets/stylesheets/dashboard/style.scss

// DASHBOARD CONTAINER

.container-dashboard {
  margin: 20%;
}

// DASHBOARD CARDS

.card-dashboard {}

// SORTABLE CARDS

#results li {
  cursor: grab;
}

#results li:active {
  cursor: grabbing;
}

#results li.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}
