// app/assets/stylesheets/nights/_index_nights_scss

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 1rem;
  padding: .6rem;
}
