<%# app/views/nights/edit.html.erb %>

<%# TODO ************** %>
<%# Create Edit Night Display and make it pretty %>

<div class="container-places">
  <h1>Editing your Night</h1>
  <%= render 'form_night', place: @night %>
  <%= link_to 'Show', @night %> |
  <%= link_to 'Back', nights_path %>
</div>
