<%#app/views/nights/index.html.erb%>
<h1 class="font-beta">Nights</h1>

<%# ************** Display Nights ************** %>
  <div class="container">
      <% @nights.each do |night| %>
      <div>
        <%# Create different nights %>
        <%# Who can create different nights? The members? Strangers?%>
        <div class="col-xl-2 col-md-4 mb-4 item-night">
          <div class="card card-dashboard border-left-primary shadow h-100 py-2">
            <div class="card-body results">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2"></div>
                <h3 class="mb-1 text-xs font-gamma"> <%= night.title%></h3>
                <h3 class="mb-1 text-xs font-delta"> <%= link_to 'Show Night', night_path(night)%></h3>
                <h3 class="mb-1 text-xs font-delta"> <%= link_to 'Add new night', new_night_path(@night)%></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>
