<%#app/views/nights/index.html.erb%>
<h1 class="font-beta">Nights</h1>

<%# ************** TO DO ************** %>
<%# Create Nights Index Display %>
<%# Who will be able to add anything? %>
<%# Create Nights Footer? %>
<%# Create different nights %>
<%# Who can create different nights? The members? Strangers?%>

<%# ************** Display Nights ************** %>
  <div class="container">
      <% @nights.each do |night| %>
      <div class="row">
        <div class ="col-sm-6">
          <div class="card bg-light mb-3 mt-3" style="width: 18rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1544281153-6603be88b354?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmlsbGlhcmRzfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="Billard card image">
            <div class="card-body">
            <h5 class="card-text mb-1 text-xs"> <%= night.title%></h5>
            <p class="card-text card-link mb-1 text-xs"> <%= link_to 'Show Night', night_path(night)%></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>

<p class="card-text card-link mb-1 text-xs"> <%= link_to 'Add new night', new_night_path(@night)%></p>
