<%#app/views/nights/index.html.erb%>
<h1 class="font-beta">Nights</h1>

<%# TODO ************** %>
<%# Create Nights Index Display %>
<%# Who will be able to add anything? %>
<%# Create Nights Footer? %>
<%# Create different nights %>
<%# Who can create different nights? The members? Strangers?%>

<%# ************** Display night cards ****** %>
  <div class="container">
    <div class="row justify-content-center">
      <% @nights.each do |night| %>
        <div class ="col-8 col-sm-6 col-md-4">
          <div class="card card-nbjb bg-light mb-3 mt-3">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1544281153-6603be88b354?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmlsbGlhcmRzfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="Billard card image">
            <div class="card-body">
              <h5 class="card-text mb-1 text-xs font-gamma"> <%= night.title%></h5>
              <p class="card-text card-link mb-1 text-xs"> <%= link_to 'Show Night', night_path(night)%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<%# ************** Create new night ****** %>
<p class="card-text card-link mb-1 text-xs"> <%= link_to 'Add new night', new_night_path(@night)%></p>
