<%# app/views/nights/new.html.erb %>

<%# ************** TO DO ************** %>
<%# Create New Night Display and make it pretty ♥️ %>

<div class="container py-5 form-adjust">
    <h1 class="font-alpha">Woo hoo new night</h1>
    <p class="font-gamma">Let's bring an amazing new night to your service</p>

  <%= render "form_night" %>
  <%= link_to 'Back', nights_path %>
  </div>
</div>
