<%# app/views/users/index.html.erb %>
<div class="container-users">
  <h1 class="font-beta">Bitches</h1>

  <%# ************** Display Users/Bitches ************** %>
    <div class="container">
        <% @users.each do |user| %>
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="list-name font-gamma"><%= User.name %></div>
          <div class="item-btn font-gamma"><%= link_to 'Show Bitches Profil', user_path(user) %></div>
        </div>
        <% end %>
    </div>
      <div class="item-btn"><%= link_to 'Add new User', new_user_path(@user) %></div>
</div>
