<%# app/views/users/new.html.erb %>

<%# ************** TO DO ************** %>
<%# Create New User Display and make it pretty ♥️ %>

<div class="container py-5 form-adjust">
    <h1 class="font-alpha">Woo hoo new User</h1>
    <p class="font-gamma">Let's bring an amazing new User to your service</p>

  <%= render "form_user" %>
  <%= link_to 'Back', users_path %>
  </div>
</div>
