<!-- app/views/games/edit.html.erb -->

<%# TODO ************** %>
<%# Create Edit Game Display %>

<%# ************** Edit Game ************** %>
<h1 class="font-beta">Games</h1>
<h1>Edit your Game</h1>
