<!-- app/views/games/index.html.erb -->

<%# ************** TO DO ************** %>
<%# Create Games Display %>
<%# Depending on Role you have different features here%>
<%# Feature Add Games, Role Admin, Moderator %>

<%# ************** Display Games ************** %>
<h1 class="font-beta">Games</h1>
