<!-- app/views/games/show.html.erb -->

<%# ************** TO DO ************** %>
<%# Create Specific Game Display %>
<%# Depending on Role you have different feutues here%>
<%# Feature Add Comments for Games, Role Admin, Player %>
<%# Feature Add Reviews for Games, Role Admin, Player  %>

<%# ************** Display Specific Game ************** %>
<h1>Game Show</h1>
