<!-- app/views/dashboards/overview.html.erb -->
<br>
<br>
<br>
<section class="container">
  <div>
    <h1 class="font-alpha">Hi, <%= current_user.first_name %>!</h1>
  </div>
  <div>
    <h2 class="font-gamma">and welcome to your Dashboard</h2>
  </div>
</section>
