<!-- app/views/dashboards/overview.html.erb -->
<br>
<br>
<br>
<h1>Dashboard</h1>
<section class="container-dashboard">
  <h1 class="font-alpha dashboard__title">Hi, <%= current_user.first_name %>!</h1>
  <div class="sign-card--dashboard">
    <div class="tag2 tag--video">
      <h2 class="dashboard__video font-gamma">Your Dashboard</h2>

    </div>
  </div>
</section>
