// app/assets/stylesheets/components/_login_form.scss

.form-login {
  background: rgb(159, 237, 255);
  width: 18rem;
  height: 34rem;
  padding: 10px 20px;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
