.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 3rem;
  margin-right: 2rem;
}

.dropdown-toggle {
  width: 3rem;
  margin-right: 2rem;
}

.navbar_home_image {
  width: 3rem;
  margin-left: 2rem;
}

.btn-navbar {
  text-decoration: none !important;
  border-radius: 2rem;
  border: none;
  margin: 1rem;
  padding: .6rem 1rem !important;
  font-family: $secondary-font;
  font-size: $font-size-16;
  font-weight: $font-weigh--normal;
  color: $font-color;
  line-height: 1.1;
}
