// app/assets/stylesheets/application.scss

// Graphical Variables & Fonts
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

@font-face {
  font-family: "Space Grotesk";
  src: url(/app/assets/fonts/Space_Grotesk/);
}
@font-face {
  font-family: "1up";
  src: url(/app/assets/fonts/1up/);
}

// External Libraries
// @import '../../../node_modules/bootstrap/scss/bootstrap';
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "simple_calendar";

// Your CSS Partials
@import "components/index";
@import "pages/index";

// USERS/BITCHES
@import "users/index";

// DASHBOARDS
@import "pages/index_dashboard";

// NIGHTS
@import "nights/form_nights";
@import "nights/index_nights";

// PLACES
@import "places/form_place";

// BITCHBOOK
@import "bitchbook/style.scss";

// ********* NO BALLS - JUST BITCHES *********
// ********* Design & Font Classes *********

body {
  background-color: rgb(170, 216, 246);
  background-size: cover;
}

.font-alpha {
  position: relative;
  font-family: $primary-font;
  font-size: $font-size-64;
  color: $font-color;
}

.font-beta {
  position: relative;
  font-family: $primary-font;
  font-size: $font-size-48;
  font-weight: $font-weigh--extra;
  text-transform: uppercase;
  color: $font-color;
}

.font-delta {
  position: relative;
  font-family: $primary-font;
  font-size: $font-size-36;
  font-weight: $font-weigh--bold;
  color: $font-color;
  margin-top: .5rem;
  margin-bottom: 1rem;
  width: fit-content;
  z-index: 2;
}

.font-gamma {
  font-family: $primary-font;
  font-size: $font-size-24;
  font-weight: $font-weigh--bold;
  color: $font-color;
  margin-top: .5rem;
  margin-bottom: .7rem;
  position: relative;
  width: fit-content;
  z-index: 2;
}
