// External Stuff
@import "bootstrap";
@import "font-awesome";
@import "simple_calendar";

// Graphical Variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// Components
@import "components/index";

// Partials
@import "pages/index";
@import "places/form_place";
@import "bitchbook/style";

body {
  background-color: rgb(170, 216, 246);
  background-size: cover;
}
