// app/assets/stylesheets/application.scss

// Graphical variables
@font-face {
  font-family: "Space Grotesk";
  src: url(/app/assets/fonts/Space_Grotesk/);
}
@font-face {
  font-family: "1up";
  src: url(/app/assets/fonts/1up/);
}
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// USERS/BITCHES


// NIGHTS
@import "nights/form_night";
@import "nights/index_nights";

// PLACES
@import "places/form_place";

// BITCHBOOK
@import "bitchbook/style.scss";

// ********* NO BALLS - JUST BITCHES *********
// ********* Design & Font Classes *********

body {
  background-color: rgb(170, 216, 246);
  // background-image: linear-gradient(315deg, #3b3b3b 0%, #9ed49e 74%);
  background-size: cover;
}

.font-alpha {
  position: relative;
  font-family: $primary-font;
  font-size: $font-size-64;
  font-weight: $font-weigh--extra;
  text-align: center;
  // text-transform: uppercase;
  color: $font-color;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
  width: fit-content;
  z-index: 2;

  &:after {
    content: '';
    position: absolute;
    width: 2em;
    height: .6em;
    right: 0;
    bottom: 0;
    background: $primary-color;
    z-index: -1;
  }
}

.font-beta {
  position: relative;
  font-family: $primary-font;
  font-size: $font-size-48;
  font-weight: $font-weigh--extra;
  text-transform: uppercase;
  color: $font-color;
  margin-top: .5rem;
  margin-bottom: 1.2rem;
  width: fit-content;
  z-index: 2;

  &:after {
    content: "";
    position: absolute;
    width: 2em;
    height: .6em;
    right: 0;
    bottom: 0;
    background: $secondary-color--dark;
    z-index: -1;
  }
}

.font-delta {
  position: relative;
  font-family: $primary-font;
  font-size: $font-size-36;
  font-weight: $font-weigh--bold;
  color: $font-color;
  margin-top: .5rem;
  margin-bottom: 1rem;
  width: fit-content;
  z-index: 2;

  &:after {
    position: absolute;
    content: '';
    width: 2em;
    height: .6em;
    right: 0;
    bottom: 0;
    background: $sub-color;
    z-index: -1;
  }
}

.font-gamma {
  font-family: $primary-font;
  font-size: $font-size-24;
  font-weight: $font-weigh--bold;
  color: $font-color;
  margin-top: .5rem;
  margin-bottom: .7rem;
  position: relative;
  width: fit-content;
  z-index: 2;

  &:after {
    position: absolute;
    content: '';
    width: 2em;
    height: .6em;
    right: 0;
    bottom: 0;
    background: $secondary-color;
    z-index: -1;
  }
}
