<%# app/views/bitch_book_entries/edit.html.erb %>

<%# ************** TO DO ************** %>

<%# ************** Edit Bitch Book Entry ************** %>
<h1>Editing Bitch Book Entry</h1>

<%= render 'form', bitch_book_entry: @bitch_book_entry %>

<%= link_to 'Show', @bitch_book_entry %> |
<%= link_to 'Back', bitch_book_entries_path %>
