<%# app/views/bitch_book_entries/new.html.erb %>

<%# ************** TO DO ************** %>

<%# ************** New Bitch Book Entries ************** %>
<h1>New Bitch Book Entry</h1>

<%= render 'form', bitch_book_entry: @bitch_book_entry %>

<%= link_to 'Back', bitch_book_entries_path %>
