<%# app/views/places/index.html.erb %>
<h1 class="font-beta">Places</h1>

<div class="container">
<h1 class="font-gamma">Here is a list of all places we played at:</h1>
<ol>
  <%= @places.last.name %>
</ol>
</div>
