<%# app/views/places/index.html.erb %>
<%# TO DO %>
<%# List of Places different %>
<h1 class="font-beta">Places</h1>

<div class="container">
  <h1 class="font-gamma">Here is a list of all places we played at:</h1>
  <br>
  <tbody>
    <% @places.each do |place| %>
    <div>
      <div class="list-name font-gamma"><%= Place.last.name %></div>
    </div>
      <tr>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</div>
