<%# app/views/places/new.html.erb %>
<div class="container py-5 form-adjust">
    <h1 class="font-alpha">Woo hoo new place</h1>
    <p class="font-gamma">Let's bring an amazing new place to your service</p>
  <%# ************** Add New Place Form ************** %>
  <%= render "form_place" %>
  <%= link_to 'Back', places_path %>
  </div>
</div>
